{% extends "themes/water/base-layout.html" %}

{% block content %}
<div class="row" style="padding-top: 50pxs;">
    <div class="page-header">
        <h1>{{ user.firstname }} {{ user.lastname }}</h1>
        {{ user.tagline }}
    </div>
    <div class="col-sm-4" style="border-right-style: solid;">
        <img src="{{ user.avatar }}" alt="Avatar of user">
        <div class="justify">
                {{ user.portfolio }}
        </div>
    </div>

    <div class="col-lg-8">

    </div>
</div>
{% endblock %}