{% extends "base-layout.html" %}

{% block header %}
    {% if session['signed'] %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="page-header">
        {% if session['signed'] %}
            <a href="#" data-url="/edit_fullname" data-type="text" id="fullname" data-title="Username edit" data-pk="{{ user.id }}">
                <h1>{{ user.fullname }}</h1></a>
        {% else %}
            <h1>{{ user.fullname }}</h1>
        {% endif %}
        {% if session['signed'] %}
            <a href="#" data-url="/edit_tagline" data-type="text" id="tagline" data-title="user tagline"
               data-pk="{{ user.id }}">{{ user.tagline }}</a>
        {% else %}
            {{ user.tagline }}
        {% endif %}
    </div>
    <div class="col-sm-4" style="border-right-style: solid;">
    {% if session['signed'] %}
        <a href="javascript:uploadAvatar('{{ user.id }}')" ><img class="img-responsive img-rounded" id="avatar" src="{{ user.avatar }}" alt="Avatar of user"></a>
    {% else %}
            <img class="img-responsive img-rounded" src="{{ user.avatar }}" id="avatar" alt="Avatar of user">
    {% endif %}
        <div class="justify">
            {% if session['signed'] %}
                <a href="#" data-url="/edit_biography" data-type="text" id="biography" data-title="user tagline"
                   data-pk="{{ user.id }}">{{ user.biography }}</a>
            {% else %}
                {{ user.biography }}
            {% endif %}
        </div>
    </div>

    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-left"></div>
                <form class="navbar-form navbar-right" role="search">
                    <button type="button" class="btn btn-primary btn-sm btn-success" data-toggle="modal"
                            data-target="#porto_form" id="portoform-btnadd">
                        Add
                    </button>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button class="btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="container">
            <ul class="list-group">
                {% if user.portfolio %}
                    Please add your portfolio!
                {% endif %}
                {% for portoform in user.portfolio %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-5">
                                <a href="javascript:editPortfolioForm('{{ portoform.id }}');"><span
                                        class="glyphicon glyphicon-edit"></span></a> <a
                                    href="javascript:deletePortfolio('{{ portoform.id }}');"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                                <strong>
                                    {{ portoform.title }}
                                </strong>
                                <p>
                                    {{ portoform.description }}
                                </p>
                            </div>
                            <div class="col-sm-7">
                                {% for tag in portoform.tags.split(',') %}
                                    <span class="badge badge-important pull-right">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div> <!-- row -->

    <div class="modal fade" id="porto_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Portfolio</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <form action="" class="form-horizontal" method="POST" id="portform">
                                {{ portoform.portfolio_id }}
                                {{ portoform.hidden_tag() }}
                                <div class="form-group">
                                    {{ portoform.title.label }}
                                    {{ portoform.title(placeholder="Add title", id="title", class="form-control") }}
                                    <p class="help-block" id="title_errors">{{ portoform.title.errors[0] }}</p>
                                </div>
                                <div class="form-group">
                                    {{ portoform.description.label }}
                                    {{ portoform.description(class="form-control", id="description", placeholder="Add a description for your title") }}
                                    <p class="help-block"
                                       id="description_errors">{{ portoform.description.errors[0] }}</p>
                                </div>
                                <div class="form-group">
                                    {{ portoform.tags.label }}
                                    {{ portoform.tags(placeholder="Add your skill sets", id="tags", class="form-control", **{'data-role':"tagsinput"}) }}
                                    <p class="help-block" id="tags_errors">{{ portoform.description.errors[0] }}</p>
                                </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="portform_btnsave" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div><!-- THE END OF PORTFOLIO MODAL -->

<div class="modal fade" id="avatar_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Avatar upload modal</h4>
      </div>
      <div class="modal-body">
          <form action="" id="upload-file" method="POST" enctype="multipart/form-data">
              <input type="hidden" id="avatar_user_id" name="avatar_user_id"/>
            <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add Avatar...</span>
                <input name="file" type="file">
            </span>
            <button id="upload-file-btn" type="button" class="btn btn-primary">Upload</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> <!--End of upload modal -->
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {

        });

        $('#portform_btnsave').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "{{ url_for('portfolio_add_update') }}",
                method: 'POST',
                data: $('#portform').serialize(),
                success: function (data, textStatus) {
                    var errors = $.parseJSON(data);
                    $('#description_errors').text('');
                    $('#title_errors').text('');
                    $('#tags_errors').text('');
                    if (errors.iserror) {
                        if (errors.title != undefined) $('#title_errors').text(errors.title[0]);
                        if (errors.description != undefined) $('#description_errors').text(errors.description[0]);
                        if (errors.tags != undefined) $('#tags_errors').text(errors.tags[0]);
                    } else if (errors.savedsuccess) {
                        $('#porto_form').modal('hide');
                        location.reload();
                    }
                }
            });
        });

        function editPortfolioForm(id) {
            $('#portofolio_id').val(id);
            $.getJSON('/get_portofolio/' + id)
                    .done(function (data) {
                        $('#portofolio_id').val(data.id);
                        $('#title').val(data.title);
                        $('#description').val(data.description);
                        $('#tags').tagsinput('removeAll');
                        $('#tags').tagsinput('add', data.tags);
                        $('#porto_form').modal('show');
                    }).error(function (data, textstatus, xhr) {
                console.log(data, textstatus, xhr)
            })
        }

        function deletePortfolio(id) {
            bootbox.confirm('<strong>Delete Information</strong> <p>Are you sure you want to delete your profile?</p>', function (result) {
                if (result) {
                    $.getJSON('/delete_portfolio/' + id)
                            .done(function (data) {
                                location.reload();
                            })
                            .error(function (data, statusText) {
                                console.log(statusText);
                                console.log("data: " + data.status + "textStatus " + statusText)
                            })
                }
            })
        }
</script>
{% if session['signed'] %}
        <script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
    <script>
        $('#fullname').editable({
            placement: 'right',
                error: function () {}
        });
        $('#tagline').editable({
            placement: 'right',
            error: function () {}
        });
        $('#biography').editable({
            placement: 'right',
            error: function () {}
        });

        function uploadAvatar(id) {
            $('#avatar_user_id').val(id);
            $('#avatar_modal').modal('show');
        }

        $('#upload-file-btn').click(function () {
                var form_data = new FormData(document.forms.namedItem('upload-file'));
            form_data.append('avatar_user_id', $('#avatar_user_id').val());
            alert($('#upload-file'));
            $.ajax({
                url: '/user_avatar_upload',
                data: form_data,
                method: 'POST',
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    $('#avatar_modal').modal('hide');
                    $('#avatar').attr('src', data);
                },
                error: function (error) {
                    console.log($('#upload-file').val());
                    console.log('error: '+ error.status, $('#avatar-file').val());
                }
            })
        });
    </script>
    {% endif %}
{% endblock %}
