{% extends "base-layout.html" %}

{% block content %}
    <div class="container col-lg-5">
        <form action="{{ url_for('signin') }}" method="POST">
            {{ signinpage_form.hidden_tag() }}
            <div class="form-group">
                {{ signinpage_form.email.label }}
                {{ signinpage_form.email(type="text", placeholder="Email", class="form-control") }}
            </div>
            <div class="form-group">
                {{ signinpage_form.password.label }}
                {{ signinpage_form.password(type="password", placeholder="Password", class="form-control") }}
            </div>
            <div class="checkbox">
                {{ signinpage_form.remember_me }}
                {{ signinpage_form.remember_me.label(style="color:rgb(45, 46, 78);") }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}